.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-self: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.card {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: auto;
  text-wrap: inherit;
  text-align: left;
}

.dataPreview {
  height: 200px;
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: auto;
  text-wrap: inherit;
  text-align: left;
  padding: 10px;
}
