.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
